<!DOCTYPE html>
<html lang ="en">
<head>
<meta charset="UTF-8">
<title>Trabajo Practico N°3</title>
</head>
<body>
	<header>
		<h1>Bienvenido a Mi primer Sitio Web de Programacion Visual</h1>
		<nav>
			<ul>
				<li><a href="Seccion 1">Seccion1</a></li>
				<li><a href="Seccion 2">Seccion2</a></li>
				<li><a href="Seccion 3">Seccion3</a></li>
			</ul>
		</nav>
		<main>
			<section id="Seccion 1">
				<h2>Titulo seccion 1</h2>
				<h3>Subtitulo de la seccion 1</h3>
				<p>Este es un parrafo de texto del contenido de la seccion 1</p>
				<ul>
					<li>Item 1</li>
					<li>Item 2</li>
					<li>Item 3</li>
				</ul>
			</section>
			<section id="Seccion2">
				<h2>Título de la Sección 2</h2>
				<h3>Subtítulo de la Sección 2</h3>
				<p>Este es un párrafo de texto explicando el contenido de la
					Sección 2.</p>
				<ol>
					<li>Elemento 1</li>
					<li>Elemento 2</li>
					<li>Elemento 3</li>
				</ol>
			</section>
			<section id="Seccion3">
            <h2>Título de la Sección 3</h2>
            <h3>Subtítulo de la Sección 3</h3>
            <p>Este es un párrafo de texto explicando el contenido de la Sección 3.</p>
            <table>
                <tr>
                    <th>Encabezado 1</th>
                    <th>Encabezado 2</th>
                </tr>
                <tr>
                    <td>Dato 1</td>
                    <td>Dato 2</td>
                </tr>
                <tr>
                    <td>Dato 3</td>
                    <td>Dato 4</td>
                </tr>
            </table>
        </section>
		</main>
	<aside>
		<a href="http://programvisual.com">Mas informacion aquí</a>
		<img alt="imagen.jpg" src="Descripcion de la imagen">
	</aside>
	<footer>
        <p>Contacto: ejemplo@ejemplo.com</p>
        <a href="https://twitter.com/ejemplo">Twitter</a>
        <a href="https://facebook.com/ejemplo">Facebook</a>
    </footer>
	</header>

</body>
</html>